.header{
  display:grid;
  grid-template: "logo nav social" 1fr
  / 1fr 1fr 1fr
}
.header__logo{
    grid-area: logo;
  }
.header__nav{
  grid-area: nav;
}
.header__social{
  grid-area: social;
}
.menu__list {
    display: flex;
    justify-content: space-around;
}