.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45rem;
}
.info__name {
    font-weight: 800;
    font-size: 4.5rem;
    line-height: 1;
    width: 25rem;
    text-align: center;
}
.info__title {
    font-size: 1.125rem;
    color: rgba(65, 76, 99, 0.4);
    font-weight: 600;
    margin-bottom: 1.25rem;
}