.start-section{
    padding-top: 2rem;
    background: url('~images/bg/hero.jpg') top right 53% no-repeat / cover;
        @include phones {
            padding-top: 170px;
            padding-bottom: 110px;
        }
}
.start__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "info"
    "btn"
    "about";
}
