.start-section{
    padding-top: 2rem;
    padding-top: 2rem;
    position: relative;
    height: 200vh;
        @include phones {
            padding-top: 170px;
            padding-bottom: 110px;
        }
}
.start__container{
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "info"
    "btn"
    "about";
}
